#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function(data){

            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/b2c/product/postUpdate',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success : function(data){
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
        <input type="hidden" name="product.id" value="#(product.id)">
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>商品名称</label>
            <div class="layui-input-block">
                <input type="text" name="product.name" placeholder="商品名称" class="layui-input" value="#(product.name)" required  lay-verify="required" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>商品描述</label>
            <div class="layui-input-block">
                <input type="text" name="product.prodDesc" placeholder="商品描述" class="layui-input" value="#(product.prodDesc)" required  lay-verify="required" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>库存数</label>
            <div class="layui-input-block">
                <input type="text" name="product.totalNum" placeholder="库存数" class="layui-input" value="#(product.totalNum)" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>状态</label>
            <div class="layui-input-block">
                <select id='status' name="product.status" lay-verify="required">
                    <option></option>
                    #statusOption(io.jboot.b2c.service.entity.status.ProductStatus::me(), product.status)
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end